
li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    border: 3em;
}

.header {
    text-align: center;
    padding-top: 0;

}

.banner {
    background-color: grey;
    height: 25em;
    padding-top: 0;
}

.right{
    height: 10em;
    background-color:red;
}

.row1 {
    float: left;
}

.black {
    background-color: black;
    border: 0;
}

.left {
    padding: 0;
    padding-left: 10%
}

.middlerow {
    padding: 0;
    margin: 0;
  padding-left: 10px;

}

.grey {
    background-color: grey;
    padding: 0;
    color: aliceblue;
    text-align: center;
    align-content: center;
}

.bold {
    text-decoration: underline;
}

.journ {
    height: 15em;
    background-color: black;
    padding-top: 2em;
    border: 1em solid white;
}

.content {
    border: 2em;
    align-content: center;
    text-align: center;
}

.show {
    text-align: center;
    align-content: center;
    text-decoration: underline;
    padding-top: 3em
}

.blackrow {
    background-color: grey;
    color: white;
    text-align: center;

}

.logos {
    align-content: center;
    text-align: center;
}

.greyfooter {
    padding: 0;
    background-color: grey;
    height:10em;
    align-content: center;
}

.blakfooter {
    padding: 0;
    background-color: #262626;
    height: 10em;
    align-content: center;

}

.footer {
    border-top: 1em solid white;
}
