body {
	padding: 0;
	margin: 0;
}

.row.row {
	padding: 0;
	margin: 0;
	max-width: 100%;
}

ul li {
	list-style: none;
	display: inline-block;
	font-size: 0.8em;
}

.landing {
	background-color: #362D30;
	height: 100vh;
}

.landing p {
	color: #888385;
	text-align: center;
}

.landing h1 {
	color: white;
}

li a {
	color: #888385;
}

.build {
	margin-top: 20vh;
}
